:root {
    --color-logo-primary: #37447E;
    --color-main-blue-400: #6F7CB2;
    --color-main-blue-500: #505F98;
    --color-main-grey-400: #939EA4;
    --color-main-grey-600: #5D6970;
    --color-main-blue-600: #37447E;
    --color-main-blue-700: #222F65;
    --color-main-blue-800: #111B47;
    --color-main-blue-900: #091133;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 999;
}

html {
    overflow-x: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    margin-top: 20px;
    gap: 350px;
    align-items: center;
}

.navlinks {
    display: flex;
    flex-direction: row;
    gap: 100px;
    list-style: none;
    font-size: 18px;
}

.title {
    color: var(--color-logo-primary);
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 38px;
}

.nav-item {
    color: var(--color-main-blue-500);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.btn {
    border-radius: 2px;
    background: var(--color-main-blue-800);
    flex-shrink: 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    border: none;
    width: 200px;
    height: 30px;
    padding: 4px 12px 4px 12px;
}

a {
    text-decoration: none;
    color: inherit;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 300px;
    margin-left: 150px;
    margin-top: 100px;
}

.hero-title {
    color: var(--color-main-blue-900);
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 100px;
    width: 700px;
}

.hero-text {
    color: var(--color-main-blue-500);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 60px;
    width: 700px;
}

.secondary-btn {
    color: var(--color-main-blue-900);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    border-radius: 2px;
    background: transparent;
    border: 2px solid var(--color-main-blue-900);
    flex-shrink: 0;
    width: 200px;
    height: 30px;
    margin-left: 25px;
}

.blob {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
}

.info-hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 500px;
    width: 100%;
    margin-left: 200px;
    margin-top: 200px;
}

.info-hero-container {
    width: 540px;
}

.info-hero-title {
    color: var(--color-main-blue-900);
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 20px;
}

.info-hero-text {
    color: var(--color-main-blue-400);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 80px;
}

.item-container {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.info-hero-item {
    display: flex;
    flex-direction: column;
}

.item-title {
    color: var(--color-main-blue-900);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    margin-top: 14px;
    margin-bottom: 6px;
}

.item-text {
    color: var(--color-main-grey-600);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.info-hero-2 {
    display: flex;
    flex-direction: row;
    gap: 300px;
    align-items: center;
    margin-right: 300px;
    margin-top: 100px;
    margin-bottom: 200px;
    justify-content: center;
    width: 100%;
}

.info-hero-2-container {
    width: 540px;
    align-items: center;
}

.info-hero-2-title {
    color: var(--color-main-blue-900);
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 20px;
}

.info-hero-2-text {
    color: var(--color-main-blue-400);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;
}

.icon-container-1 {
    width: 500px;
}

.wave {
    width: 2200px;
    position: absolute;
    z-index: 1;
}

.pricing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.pricing-title {
    color: var(--color-main-blue-900);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 16px;
    margin-top: 300px;
}

.pricing-text {
    color: var(--color-main-blue-400);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 600px;
    margin-bottom: 40px;
}

.price {
    color: var(--color-main-blue-700);
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 66px;
    letter-spacing: 1px;
}

.price-title {
    color: var(--color-main-blue-600);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 60px;
}

.price-text {
    color: var(--color-main-grey-600);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    z-index: 5;
    background: #E7ECFF;
}

.top-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 500px;
    align-items: center;
    margin-top: 70px;
}

.copyright {
    color: var(--color-main-grey-400);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.footer-title {
    color: #37447E;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 38px;
}

.bottom-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 670px;
    margin-bottom: 40px;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #929ECC;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    gap: 60px;
}

.solid {
    position: relative;
    border-top: 1px solid #CDD1D4;
    width: 1200px;
    margin-left: 360px;
    margin-top: 40px;
    margin-bottom: 35px;
}

.purchase {
    margin-bottom: 100px;
}